<a href="https://colab.research.google.com/github/Viktoriia-Osmanova/main-repo/blob/main/Python_DS_HW2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

import pandas as pd

# Використання відносного шляху до файлу
file_path = '/content/drive/My Drive/Colab Notebooks/2017_jun_final.csv'

Mounted at /content/drive

In [3]:
import pandas as pd

# Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
data = pd.read_csv(file_path, encoding='UTF-8', sep=';')

In [4]:
# Виведіть перші рядки таблиці за допомогою методу head
print("Перші рядки таблиці:")
print(data.head())

Перші рядки таблиці:
     N                    Посада Мова програмування Спеціалізація  \
0  1.0        Junior QA engineer                NaN     Manual QA
1  2.0        Junior QA engineer                NaN     Manual QA
2  3.0         Software Engineer            C#/.NET           NaN
3  4.0         Software Engineer         JavaScript           NaN
4  5.0  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0,5                              0,5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0,5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0               400.0                           0.0  Харків        до 10 осіб
1               430.0                         130.0  Харків  більше 1000 осіб
2              2500.0                         800.0    Київ      до 1000 осіб
3              2000.0                         400.0   Одеса       до 200 осіб
4              4500.0                         500.0    Інше        до 10 осіб

   ...                  Предметна область      Дата заповнення  \
0  ...                      iOS,eCommerce  12/06/2017 12:38:08
1  ...                       Веб-розробка  12/06/2017 12:42:51
2  ...  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  ...  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  ...  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent  exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  0,5             0,5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...    0               0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...    4               1
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...    5               4
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...   10             0,5

   salary Валюта  cls Unnamed: 25 Unnamed: 26
0   400.0    NaN   QA         NaN         NaN
1   430.0    NaN   QA         NaN         NaN
2  2500.0    NaN  DEV         NaN         NaN
3  2000.0    NaN  DEV         NaN         NaN
4  4500.0    NaN  DEV         NaN         NaN

[5 rows x 27 columns]

In [5]:
# Визначте розмір таблиці за допомогою методу shape
print("\nРозмір таблиці:", data.shape)

Розмір таблиці: (8706, 27)

In [6]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
print("\nТипи всіх стовпців:")
print(data.dtypes)

Типи всіх стовпців:
N                                   float64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                  float64
Зміна зарплати за 12 місяців        float64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                 float64
Освіта                               object
Університет                          object
Ще студент                           object
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                  object
current_job_exp                      object
salary                              float64
Валюта                               object
cls                                  object
Unnamed: 25                         float64
Unnamed: 26                         float64
dtype: object

In [7]:
# Порахуйте, яка частка пропусків міститься в кожній колонці
missing_values = data.isnull().sum() / len(data)
print("\nЧастка пропусків в кожній колонці:")
print(missing_values)

Частка пропусків в кожній колонці:
N                                   0.000230
Посада                              0.000230
Мова програмування                  0.442453
Спеціалізація                       0.829428
Загальний досвід роботи             0.000230
Досвід роботи на поточному місці    0.000230
Зарплата на місяць                  0.000230
Зміна зарплати за 12 місяців        0.000230
Місто                               0.000230
Розмір компанії                     0.000230
Тип компанії                        0.000230
Стать                               0.000230
Вік                                 0.000230
Освіта                              0.000230
Університет                         0.041351
Ще студент                          0.000230
Рівень англійської                  0.000230
Предметна область                   0.025844
Дата заповнення                     0.000230
User.Agent                          0.000230
exp                                 0.000230
current_job_exp                     0.000230
salary                              0.000230
Валюта                              0.998851
cls                                 0.181025
Unnamed: 25                         1.000000
Unnamed: 26                         1.000000
dtype: float64

In [8]:
print(data.columns)

Index(['N', 'Посада', 'Мова програмування', 'Спеціалізація',
       'Загальний досвід роботи', 'Досвід роботи на поточному місці',
       'Зарплата на місяць', 'Зміна зарплати за 12 місяців', 'Місто',
       'Розмір компанії', 'Тип компанії', 'Стать', 'Вік', 'Освіта',
       'Університет', 'Ще студент', 'Рівень англійської', 'Предметна область',
       'Дата заповнення', 'User.Agent', 'exp', 'current_job_exp', 'salary',
       'Валюта', 'cls', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [9]:
# Видалення усіх стовпців з пропусками, крім стовпця "Мова програмування"
data.dropna(axis=0, how='any', subset=['Мова програмування'], inplace=True)

In [10]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці
missing_values = data.isnull().sum() / len(data)
print("\nЧастка пропусків в кожній колонці після видалення:")
print(missing_values)

Частка пропусків в кожній колонці після видалення:
N                                   0.000000
Посада                              0.000000
Мова програмування                  0.000000
Спеціалізація                       0.999794
Загальний досвід роботи             0.000000
Досвід роботи на поточному місці    0.000000
Зарплата на місяць                  0.000000
Зміна зарплати за 12 місяців        0.000000
Місто                               0.000000
Розмір компанії                     0.000000
Тип компанії                        0.000000
Стать                               0.000000
Вік                                 0.000000
Освіта                              0.000000
Університет                         0.047590
Ще студент                          0.000000
Рівень англійської                  0.000000
Предметна область                   0.006180
Дата заповнення                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998352
cls                                 0.001648
Unnamed: 25                         1.000000
Unnamed: 26                         1.000000
dtype: float64

In [11]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
data.dropna(inplace=True)

print(data)

Empty DataFrame
Columns: [N, Посада, Мова програмування, Спеціалізація, Загальний досвід роботи, Досвід роботи на поточному місці, Зарплата на місяць, Зміна зарплати за 12 місяців, Місто, Розмір компанії, Тип компанії, Стать, Вік, Освіта, Університет, Ще студент, Рівень англійської, Предметна область, Дата заповнення, User.Agent, exp, current_job_exp, salary, Валюта, cls, Unnamed: 25, Unnamed: 26]
Index: []

[0 rows x 27 columns]

In [12]:


# Визначте новий розмір таблиці за допомогою методу shape
print("\nНовий розмір таблиці:", data.shape)

Новий розмір таблиці: (0, 27)

In [13]:


# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = data[data['Мова програмування'] == 'Python']

In [14]:

# Визначте розмір таблиці python_data за допомогою методу shape
print("\nРозмір таблиці з програмістами, які використовують Python:", python_data.shape)

Розмір таблиці з програмістами, які використовують Python: (0, 27)

In [15]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
grouped_data = data.groupby('Посада')

In [16]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = grouped_data.agg({'Зарплата на місяць': ['min', 'max']})
print(aggregated_data)

Empty DataFrame
Columns: [(Зарплата на місяць, min), (Зарплата на місяць, max)]
Index: []

In [17]:
# Виведіть результат агрегації
print("\nМінімальна та максимальна зарплата за посадами:")
print(aggregated_data)

Мінімальна та максимальна зарплата за посадами:
Empty DataFrame
Columns: [(Зарплата на місяць, min), (Зарплата на місяць, max)]
Index: []

In [18]:

# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
def fill_avg_salary(row):
    return (row['Зарплата на місяць'].min() + row['Зарплата на місяць'].max()) / 2

In [19]:
# Використайте функцію fill_avg_salary для методу apply та створіть новий стовпчик "avg"
data['avg'] = data.apply(fill_avg_salary, axis=1)

In [20]:


# Створіть описову статистику за допомогою методу describe для нового стовпчика.
print("\nОписова статистика для нового стовпчика 'avg':")
print(data['avg'].describe())

Описова статистика для нового стовпчика 'avg':
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: avg, dtype: float64

In [22]:
# Задаємо шлях для збереження файлу CSV
output_file_path = '/content/drive/My Drive/Colab Notebooks/2017_jun_final_output.csv'

# Збереження таблиці у файл CSV
data.to_csv(output_file_path, index=False)